<div>
  <div *ngIf="!cargando">
    <div *ngIf="people.length >= 0 ">
      <div  class="divide-gray-300">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 justify-center ">
  
          <div class="flex flex-col items-center justify-center bg-white rounded-lg my-4 cursor-pointer margin" 
                *ngFor="let person of people | paginate: {itemsPerPage: 10, currentPage: pagenumber, totalItems: totalPeople}"
                (click)="openModal(person)"
                >
            <div class="inline-flex">
              <img [src]="(person.picture.large !== null && person.picture.large  !== undefined && person.picture.large  !== '') ? person.picture.large  : '../../../../assets/images/no-photo.jpg'"
                 alt=""
                 class="h-full" style="border-radius: 6px;">
            </div>
    
            <h2 class="mt-4 font-bold text-base text-left	">{{person.name.first}} {{person.name.last}}</h2>
          </div>
    
        </div>
      </div>
      <div class="flex flex-row-reverse pt-5 pb-2" *ngIf="people.length > 0 ">
        <pagination-controls (pageChange)="pageChanged($event)"
                              previousLabel=""
                              nextLabel="">
        </pagination-controls>
      </div>
    </div>
    <div *ngIf="people.length === 0">
      <div class="flex flex-col text-center pt-5 mt-5">
        <i class="fas fa-exclamation-circle text-6xl text-gray-700 cursor-pointer pt-5"></i>
        <span class="text-2xl py-8 text-gray-500 font-bold">No hay personas para mostrar</span>
      </div>
    </div>
  
  </div>
  
  <div wire:loading class="flex flex-col items-center justify-center py-8 mt-8" *ngIf="cargando">
    <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4 mt-8"></div>
    <h2 class="text-center text-2xl  text-gray-500 font-bold">Cargando...</h2>
  </div>

</div>

<modal [person]="this?.person"></modal>