<div>
  <div *ngIf="!cargando">
    <div *ngIf="people.length > 0 ">
      <div *ngFor="let person of people | paginate: {itemsPerPage: 10, currentPage: pagenumber, totalItems: totalPeople}"  class="divide-gray-300">
        <div class="flex justify-between pt-4 pb-1">
          <div class="flex flex-row pb-2">
            <div >
              <img class="rounded-full h-12 w-12 flex items-center justify-center bg-gray-400 text-sm" [src]="(person.picture.medium !== null && person.picture.medium  !== undefined && person.picture.medium  !== '') ? person.picture.medium  : '../../../../assets/images/no-photo.jpg'" alt="">
            </div>
            <span class="text-xl pl-4 pt-2 font-bold	">{{person.name.first}} {{person.name.last}}</span>
          </div>
          <div>
            <div class="flex flex-row-reverse">
              <i class="fas fa-chevron-right text-3xl text-indigo-500 hover:text-indigo-400 cursor-pointer" (click)="openModal(person)"></i>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="flex flex-row-reverse pt-5 pb-2">
        <pagination-controls (pageChange)="pageChanged($event)"
                              previousLabel=""
                              nextLabel="">
        </pagination-controls>
      </div>
    </div>
    <div *ngIf="people.length === 0">
      <div class="flex flex-col text-center pt-5 mt-5">
        <i class="fas fa-exclamation-circle text-6xl text-gray-700 cursor-pointer pt-5"></i>
        <span class="text-2xl py-8 text-gray-500 font-bold">No hay personas para mostrar</span>
      </div>
    </div>
  </div>

  <div wire:loading class="flex flex-col items-center justify-center py-8 mt-8" *ngIf="cargando">
    <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4 mt-8"></div>
    <h2 class="text-center text-2xl  text-gray-500 font-bold">Cargando...</h2>
  </div>

</div>

  <!--Modal-->
  <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    
    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      
      <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
        <span class="text-sm">(Esc)</span>
      </div>

      <div class="modal-content py-4 text-left px-6">
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold"></p>
          <div class="modal-close cursor-pointer z-50">
            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <div class="flex flex-col items-center justify-center bg-white p-4 rounded-lg my-4" >
          <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
            <img [src]="(this.person?.picture?.large !== null && this.person?.picture?.large  !== undefined && this.person?.picture?.large  !== '') ? this.person?.picture?.large  : '../../../../assets/images/no-photo.jpg'"
               alt=""
               class="h-full w-full">
          </div>
  
          <h2 class="mt-4 font-bold text-xl">{{this.person?.name?.first}} {{this.person?.name?.last}}</h2>

          <p class="text-xs text-gray-500 text-center mt-3">
            Hola, mi nombre es {{this.person?.name?.first}} {{this.person?.name?.last}} y soy de {{this.person?.location?.city}},{{this.person?.location?.country}}. Un gusto en conocerte.
          </p>
  
          <ul class="flex flex-row mt-4 space-x-2">
            <li>
              <a href="mailto:{{this.person?.email}}" class="flex items-center justify-center h-8 w-8 border rounded-full text-gray-800 border-gray-800">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="tel:+{{this.person?.phone}}" class="flex items-center justify-center h-8 w-8 border rounded-full text-gray-800 border-gray-800">
                <i class="fas fa-phone"></i>
              </a>
            </li>
            <li>
              <a href="tel:+{{this.person?.cell}}" class="flex items-center justify-center h-8 w-8 border rounded-full text-gray-800 border-gray-800">
                <i class="fas fa-mobile-alt"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="flex justify-end pt-2">
          <button class="modal-close px-4 bg-purple-500 p-3 rounded-lg text-white hover:bg-purple-400">Cerrar</button>
        </div>
        
      </div>
    </div>
  </div>