.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #ede9fe;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #c4b5fd;
}

.btn.active {
  background-color: #7c3aed;
  color: white;
}
.desktop {
  margin-left: 15px;
  display: block;
}

@media (max-width: 500px) {
  .desktop {
    display: none;
  }
}
