<div class="container mx-auto pt-4 px-4 divide-gray-300">
  <div class="flex justify-between py-4">
    <h1 class="text-2xl font-bold align-middle pt-1 ">People List</h1>
    <div>
      <button id="grid" class="btn" (click)="gridView()" [ngClass]="{'active': showGrid === true }"><i class="fa fa-th-large"></i> Galeria</button>
      <button id="list" class="btn" (click)="listView()" [ngClass]="{'active': showList === true }"><i class="fa fa-bars"></i> Lista</button> 
    </div>
  </div>
  <hr>
  <div class="py-1">
    <peopleGrid *ngIf="showGrid"></peopleGrid>
    <peopleTable *ngIf="showList"></peopleTable>
  </div>
</div>