<div class="container mx-auto pt-4 px-4 divide-gray-300">
  <div class="flex justify-between py-4">
    <h1 class="text-2xl font-bold align-middle pt-1">People List</h1>
    <div class="flex">
      <button
        id="grid"
        class="btn"
        style="border-top-left-radius: 6px; border-bottom-left-radius: 6px;"
        (click)="gridView()"
        [ngClass]="{ active: showGrid === true }"
      >
        <i class="fa fa-th-large"></i> <span class="desktop">Galeria</span>
      </button>
      <button
        id="list"
        class="btn"
        style="border-top-right-radius: 6px; border-bottom-right-radius: 6px;"
        (click)="listView()"
        [ngClass]="{ active: showList === true }"
      >
        <i class="fa fa-bars"></i> <span class="desktop">Lista</span>
      </button>
    </div>
  </div>
  <hr />
  <div class="py-1">
    <peopleGrid *ngIf="showGrid"></peopleGrid>
    <peopleTable *ngIf="showList"></peopleTable>
  </div>
</div>
